<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Something <%= title %> yourself, <%= userName %></p>
  </body>
</html> -->

<% include partials/header.ejs %>
<div class="container">
  <div class="jumbotron">
    <h1><%= title %></h1>
    <p>Something <%= title %> yourself, <%= userName %></p>
  </div>
</div>
 
<% include partials/footer.ejs %>